/* latin */
@font-face {
  font-family: 'CJNodesto';
  font-style: normal;
  font-weight: 700;
  src: url('https://raw.githubusercontent.com/Kallaide/DNDFonts/blob/master/Nodesto-Caps-Condensed-Bold.woff2') format('woff2');
}
